input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #ef4444;
    /* màu nút tròn */
    border-radius: 9999px;
    cursor: pointer;
    border: 2px solid white;
    /* optional */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #ef4444;
    border-radius: 9999px;
    cursor: pointer;
    border: 2px solid white;
}