.git
.gitignore
.vscode
**/node_modules
**/.next
**/dist
!library/gra-helper/dist
!library/gra-helper/dist/**
**/build
**/coverage
**/logs
**/uploads
**/uaa-dev.err
**/uaa-dev.out
**/.env
**/.env.*
**/npm-debug.log
**/.turbo
**/.vercel
**/.DS_Store
