@import "tailwindcss";
@import "./variables.css";

:root {
  --background: #FFFFFF;
  --foreground: #0C0C12;
  --color-black: #0C0C12;
  --color-gray: #77777A;
  --color-white: #FFFFFF;
  --color-red: #FF5C56;
}

@theme inline {
  --font-satoshi: var(--font-satoshi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #0C0C12;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ef4444;
  border-radius: 9999px;
  cursor: pointer;
  border: 2px solid white;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #ef4444;
  border-radius: 9999px;
  cursor: pointer;
  border: 2px solid white;
}
