.main-color-red {
  color: var(--color-red);
}

.main-color-black {
    color: var(--color-black);
}
.main-color-gray {
    color: var(--color-gray);
}
.main-color-white {
    color: var(--color-white);
}

.cs-typography {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.cs-typography-gray {
    color: var(--color-gray);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.cs-typography-red {
    color: var(--color-red);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}



.cs-paragraph {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}

.cs-paragraph-gray {
    color: var(--color-gray);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}

.cs-paragraph-white {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}

.cs-outline-gray {
    outline-width: 1px;
    outline-style: solid;
    outline-color: color-mix(in oklab,
            var(--color-gray) 10%,
            transparent);
}

.cs-outline-black {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--color-black)
}

.cs-outline-red {
    outline-color: var(--color-red);
    outline-width: 1px;
    outline-style: var(--tw-outline-style);
}

.cs-bg-black {
    background: var(--color-black);
}

.cs-bg-gray {
    background: var(--color-gray);
}

.cs-bg-red {
    background: var(--color-red);
}