# ===== Backend =====
fastapi==0.95.2
uvicorn==0.17.6
python-multipart
jinja2
databases
aiosqlite

# ===== Utils =====
pre-commit

# ===== AI / OCR (PIN VERSION) =====
numpy==1.23.5
opencv-python==4.8.1.78
pillow==9.5.0
torch==2.0.1
torchvision==0.15.2
vietocr==0.3.8

# ===== YOLO =====
pyyaml
requests
scipy
tqdm
