@import "tailwindcss";
@plugin '../hero.ts';
@import './custom.css';



@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: bold;
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

body {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* min-height: 100vh; */
  padding: 0;
  background-color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

/* input,
button,
textarea,
select {
  font: inherit;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@theme {
  --color-black-900: #1A1A1A;
}

.text-black-900 {
  color: var(--color-black-900);
}



